body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: greenyellow;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-color: greenyellow;
}
a.active{
  border-bottom: 3px solid black;
  animation: draw 3s linear infinite;
}
@keyframes draw {
  from {
    border-color: transparent;
    width: 0;
    height: 100%;
  }

  to {
    border-color: #000;
    width: 100%;
    height: 100%;
  }
}
#slogan{
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30, end) infinite;
}
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}