
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-image: linear-gradient(to bottom right, #fc547e, #5bc05b, #7d7de7);
  text-decoration: none;
  height: fit-content;
}
a:hover{
  text-decoration: none;
  color: black;
}
a.active{
  border-bottom: 3px solid black;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  from {
    border-color: transparent;
    width: 0;
    height: 100%;
  }

  to {
    border-color: #000;
    width: 100%;
    height: 100%;
  }
}
#slogan{
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end) infinite;
}
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}
.area-name.active{
  box-shadow: 0 0 0 4px greenyellow;
  animation: none;
}